* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // position: relative;
    overflow-x: hidden;

    .header {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #292627;
        width: 100%;
        height: 85px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        img {
            width: 150px;
            height: 100px;
            object-fit: contain;
            margin-top: 8px;
        }

        .nav_box {
            position: relative;

            .contacts {
                border: 1px solid grey;
                width: 70px;
                position: absolute;
                right: 0;
                top: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #607d8b;
                margin-top: 5px;
                z-index: 1;

                a {
                    margin: 10px 5px;
                    text-decoration: none;
                    font-size: 20px;
                }
            }

            span,
            a {
                position: relative;
                text-decoration: none;
                color: white;
                font-size: 20px;
                font-weight: bolder;
                margin: 0 12px;
                cursor: pointer;
                padding: 5px 10px;
                /* Butona tıklama alanını artırmak için */

                &:hover {
                    color: wheat;
                }

                &.active {
                    background-color: #ffffff;
                    color: #333;
                    /* Kontrast rengi */
                    border-radius: 8px;
                }
            }

            // İlgili elemana tıklandığında aktif yap
            span.contacts_btn {
                &:hover {
                    color: wheat;
                }
            }
        }


        .else_icons {
            display: flex;

            i {
                font-size: 27px;
                margin: 0 5px;
            }

            .card_box {
                font-size: 29px;
                margin: 0 5px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .added_product {
                    color: black;
                    background-color: rgb(255, 196, 45);
                    padding: 2px 6px;
                    position: absolute;
                    right: -5px;
                    top: -13px;
                    border-radius: 50px;
                    font-size: 14px;
                    text-align: center;
                    font-weight: bolder;
                }

                i {
                    font-size: 27px;
                    margin: 0 5px;
                }

            }


        }

    }

    .mb_header {
        display: none;
        width: 100%;
        height: 90px;
        justify-content: space-around;
        align-items: center;
        // border-bottom: 0.5px solid rgb(167, 166, 166);
        margin: 0 0 3px 0;
        background-color: white;


        .menu {
            display: flex;
            justify-content: center;
            width: 19%;

            img {
                font-size: 30px;
                margin-left: 20px;
                width: 30px;
                height: 30px;
                object-fit: contain;
                margin-right: 15px;

            }
        }

        .logo_mb {
            display: flex;
            justify-content: center;
            width: 40%;

            img {
                width: 80px;
                height: 140px;
                object-fit: contain;
                // margin-left: 27px;
            }
        }

        .mb_else_icons {
            display: flex;
            justify-content: center;
            width: 20%;

            img:nth-child(1) {
                font-size: 30px;
                margin-left: 20px;
                width: 30px;
                height: 30px;
                object-fit: contain;
                margin-right: 10px;

            }

            // img:nth-child(2) {
            //     font-size: 30px;
            //     margin-left: 20px;
            //     width: 30px;
            //     height: 30px;
            //     object-fit: contain;
            //     margin-left: 15px;
            // }

            .basket_box {
                width: 40px;
                // border: 1px solid red;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;


                .show_product_card {
                    display: flex;
                    justify-content: center;
                    font-size: 34px;
                    margin-left: 3px;
                    text-align: end;
                    color: #474747;


                }

                .productNo {
                    position: absolute;
                    top: -12px;
                    right: 3px;
                    font-size: 19px;
                }
            }




        }
    }

    .mb_text {
        width: 100%;
        background-color: #e6e6e6;
        display: none;
        justify-content: center;
        align-items: center;
        padding: 10px;

        span {
            color: #292627;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .search {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.692);
        display: none;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        overflow-y: hidden;
        overflow-x: hidden;

        .close_box {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;

            i {
                font-size: 25px;
                text-align: end;
                margin: 8px;
            }
        }

        .search_box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px 0;

            .search_inp {
                width: 40%;
                height: 35px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                border: none;
                outline: none;
                padding-left: 10px;
            }

            .search_button {
                width: 60px;
                height: 37px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: #607d8b;
                color: white;
                border: none;
                outline: none;
            }
        }

        .search_results {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 5px; // Ürünler arasında boşluk
            margin-top: 10px; // Arama sonuçları için üst boşluk
            // max-height: 400px; // Arama sonuçlarının maksimum yüksekliği (özelleştirin)
            overflow-y: auto; // Dikey kaydırma alanı
            // border: 1px solid #e0e0e0; // Çerçeve
            border-radius: 8px; // Köşe yuvarlama
            padding: 10px; // İç boşluk eklemek için
            width: 100%;
            color: black;


            .volume-select {
                margin: 0 13px;
                color: black;
                outline: none;
                border: none;

                select.volume-options {
                    display: flex;
                    padding: 5px; // İç boşluk
                    background-color: #fff; // Arka plan rengi
                    font-size: 15px; // Yazı boyutu
                    color: #292627; // Yazı rengi
                    cursor: pointer; // İmleci işaretçi yap
                    font-weight: 500; // Yazı kalınlığı
                    width: 100%;

                    outline: none;
                    border: none;



                    -webkit-appearance: flex;
                    /* Safari ve Chrome için */
                    -moz-appearance: flex;
                    /* Firefox için */
                    appearance: flex;
                    /* Modern tarayıcılar için */
                    background: transparent;
                    /* Arka planı şeffaf yapın */
                    // border: 1px solid #ccc;
                    /* İsteğe bağlı: Sınırları görünür yapmak için */
                    padding: 10px;
                    /* İsteğe bağlı: İç boşluk ayarlamak için */
                    // outline: none;

                    .volume-options::-ms-expand {
                        display: flex;
                        /* Internet Explorer için default açılır menü */
                    }

                    &:focus {
                        outline: none; // Varsayılan odak çerçevesini kaldır
                        border-color: #ecc14d; // Odaklandığında sınır rengi değişimi
                        background-color: #f7f7f7; // Arka plan rengi değişimi
                        border: none;
                    }

                    option {
                        padding: 10px; // Seçenekler için iç boşluk
                        background-color: #292627;
                        color: white; // Yazı rengi
                        border: none; // Kenar yok
                        width: 100%;
                        font-weight: 600;
                        outline: none;
                        border: none;

                    }

                    option:hover {
                        background-color: #f2f2f2; // Seçenek üzerine gelindiğinde arka plan rengi
                    }
                }
            }

            .product-result {
                display: flex; // Yatay hizalama
                align-items: center; // Dikey hizalama
                justify-content: start;
                height: 80px;
                padding: 5px;
                border: 1px solid #e0e0e0; // Çerçeve
                border-radius: 8px; // Köşe yuvarlama
                background-color: #ffffff; // Arka plan rengi
                transition: box-shadow 0.3s ease, transform 0.2s ease; // Geçiş efektleri
                width: 100%;
                color: black;

                &:hover {
                    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // Hover etkisi
                    transform: translateY(-2px); // Hafif yukarı kaydırma efekti
                }

                .product-link {
                    display: flex; // İçerikleri yan yana yerleştir
                    text-decoration: none; // Alt çizgiyi kaldır
                    color: inherit; // Renk mirasını koru
                    // Tüm genişliği kapla
                    justify-content: space-between;
                    align-items: center;

                    .product-image {
                        max-width: 70px; // Resim boyutu
                        height: auto; // Yükseklik otomatik
                        border-radius: 5px; // Köşe yuvarlama
                        margin-right: 15px; // Sağ boşluk
                        object-fit: cover; // Resim kaplama

                        // Mobil ekranlarda daha küçük görünüm
                        // @media (max-width: 600px) {
                        //     max-width: 60px;
                        // }
                    }

                    .product-details {
                        display: flex;
                        justify-content: start;
                        width: 100%;

                        .product-name {
                            font-size: 1em; // Başlık boyutu
                            margin-right: 15px; // Varsayılan margin'i kaldır
                            font-weight: bold; // Kalın yazı tipi
                            color: #333; // Başlık rengi
                            text-align: start;
                            margin-right: 5px;
                        }

                        .product-price {
                            display: none;
                        }
                    }
                }
            }

            i {
                margin: 0 5px;
                color: #edbe63;
                padding: 5px 4px;

            }

            // Hiç ürün bulunamadığında gösterilecek mesaj için stil
            p {
                color: #777; // Yazı rengi
                text-align: center; // Ortala
                margin: 10px 0; // Üst ve alt boşluk
            }
        }
    }

    .slider_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        padding: 1px 0;
        margin-top: 84px;

        .slıdex_show_box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            .slider_box_buttons {
                position: absolute;
                left: 0;
                bottom: 30px;
                width: 100%;
                height: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 10px;

                .nese {
                    width: 100%;
                    height: auto;
                    padding-right: 15px;

                    button {
                        margin: 10px 27px;
                        background-color: #ffffff;
                        padding: 3px 6px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        margin-right: 0;
                        font-size: 19px;
                        font-weight: 600;

                        &:hover {
                            // background-color: rgba(169, 169, 169, 0.5);
                            /* Üzerine gelindiğinde daha belirgin gri arka plan */
                            color: #424242;
                            /* Koyu gri yazı rengi */
                        }

                        /* Aktif durumda olan buton için stil */
                        &.active {
                            background-color: #faefe9;
                            /* Daha koyu bir gri arka plan */
                            color: black;
                            /* Daha koyu gri yazı rengi */
                        }


                        i {
                            font-weight: bold;
                            line-height: 10px;


                        }
                    }

                    a {
                        margin: 10px 30px;
                        background-color: #ffffff;
                        padding: 3px 7px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        margin-right: 0;
                        font-size: 19px;
                        font-weight: 600;
                        color: orangered;
                        text-decoration: none;

                        i {
                            font-weight: bold;
                            line-height: 10px;
                            color: orangered;
                        }
                    }


                }

            }

            .slider_show {
                width: 100%;
                height: 100%;
                object-fit: cover; // This will make sure the image covers the space
                object-position: center; // Center the image
            }
        }

    }

    .text_slider {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        position: relative;
        background-color: #ddd;
        border: 2px solid #ddd;
        padding: 10px 0;
        margin-top: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .scrolling-text {
        animation: scroll-left 20s linear infinite;
        font-size: 24px;
        color: #333;
        padding: 0 50px;
    }

    .scrolling-text span {
        margin: 0 20px;
        /* Her bir metin için sağda ve solda 20px boşluk */
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    // Değişkenler
    $primary-color: #007bff;
    $hover-color: #0056b3;
    $border-color: #ddd;
    $border-radius: 8px;
    $padding: 20px;
    $margin: 10px;
    $image-width: 100%; // Resim genişliğini kapsayıcıya göre ayarlayın
    $image-height: auto; // Yükseklik otomatik olsun

    // Ürünler bölümünün stilleri
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        margin: 0;
        width: 95%;

        .volume-select {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0; // Üst ve alt boşluk
            position: relative; // İçerik düzenlemesi için konumlandırma

            select.volume-options {
                padding: 10px 20px; // İç boşluk
                // border: 1px solid #ddd; // Kenar rengi
                // border-radius: 4px; // Kenar yuvarlama
                background-color: #fff; // Arka plan rengi
                font-size: 1em; // Yazı boyutu
                color: #333; // Yazı rengi
                cursor: pointer; // İmleci işaretçi yap
                font-weight: 700; // Yazı kalınlığı
                outline: none;
                border: none;

                // // Ok simgesinin yerini belirlemek için iç boşluğu artırıyoruz
                // padding-right: 40px;
                // background-image: url('data:image/png;base64,...'); // Özel ok simgesi ekle
                // background-repeat: no-repeat;
                // background-position: right 10px center; // Pozisyon
                // background-size: 12px; // Boyut

                -webkit-appearance: flex;
                /* Safari ve Chrome için */
                -moz-appearance: flex;
                /* Firefox için */
                appearance: flex;
                /* Modern tarayıcılar için */
                background: transparent;
                /* Arka planı şeffaf yapın */
                // border: 1px solid #ccc;
                /* İsteğe bağlı: Sınırları görünür yapmak için */
                padding: 10px;
                /* İsteğe bağlı: İç boşluk ayarlamak için */
                outline: none;

                .volume-options::-ms-expand {
                    display: flex;
                    /* Internet Explorer için default açılır menü */
                }

                transition: border-color 0.3s,
                background-color 0.3s; // Kenar rengi ve arka plan geçişi

                &:focus {
                    outline: none; // Varsayılan odak çerçevesini kaldır
                    // border-color: #ecc14d; // Odaklandığında sınır rengi değişimi
                    // background-color: #f7f7f7; // Arka plan rengi değişimi
                    border: none;
                }

                option {
                    padding: 10px; // Seçenekler için iç boşluk
                    background-color: #fff; // Arka plan rengi
                    color: #333; // Yazı rengi
                    border: none; // Kenar yok
                }

                option:hover {
                    background-color: #f2f2f2; // Seçenek üzerine gelindiğinde arka plan rengi
                }
            }
        }

        .product {
            // border: 1px solid #ddd; // Ürün kartı için kenar
            border-radius: 8px;
            padding: 20px;
            margin: 20px;
            flex: 1 1 300px; // Minimum genişlik 300px
            max-width: 350px; // Maksimum genişlik
            text-align: center;
            transition: transform 0.3s, box-shadow 0.3s;
            position: relative;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            }

            .image-container {
                width: 100%;
                height: 200px;
                border-radius: 5px;
                background-color: #faefe9;
                overflow: hidden;
                position: relative;

                .discount-badge {
                    position: absolute;
                    top: 10px; // Konumu ayarlamak için
                    left: 10px; // Konumu ayarlamak için
                    background-color: #f76300; // Arka plan rengi
                    color: white; // Yazı rengi
                    padding: 5px 5px; // İç boşluk
                    border-radius: 5px; // Kenar yuvarlama
                    font-weight: bold; // Yazı kalınlığı
                    font-size: 15px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain; // Resmin orantılı görünümü
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.05); // Hover durumunda büyüme
                    }
                }
            }

            .product-details {
                margin-top: 10px;

                h2 {
                    font-size: 1.25em;
                    margin: 5px 0;
                    color: #333;
                    text-transform: uppercase;
                    text-align: start;
                    padding-left: 5px;
                }

                .rating {
                    display: flex;
                    justify-content: center;
                    margin: 10px 0;

                    .star {
                        color: lightgray;

                        &.filled {
                            color: gold;
                        }

                        font-size: 1.5em;
                        margin: 0 2px;
                    }

                    .star:nth-child(1) {
                        color: gold;
                    }

                    .star:nth-child(2) {
                        color: gold;
                    }

                    .star:nth-child(3) {
                        color: gold;
                    }

                    .star:nth-child(4) {
                        color: gold;
                    }
                }
            }

            .product-footer {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                // margin-top: 15px;
                padding: 10px 0; // Üst ve alt boşluk
                background-color: white;
                margin: 3px 0;
                // border-top: 0.5px solid grey;

                .price {
                    font-weight: bold;
                    font-size: 1.25em;
                    color: #ecc14d; // Fiyat rengi
                }

                a.add-to-cart {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    // color: #edbe63;
                    padding: 14px 10px;
                    font-size: 1.5em;
                    transition: background-color 0.3s, color 0.3s;
                    width: 100%;

                    &:hover {
                        color: white;
                        background-color: rgba(0, 0, 0, 0.1);
                    }

                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .loadMoreButtons {
        margin-bottom: 30px;
        color: black;
        font-weight: 5400;
        outline: none;
        border: 0.5px solid grey;
        cursor: pointer;
        font-size: 16px;
        background-color: white;
        padding: 4px 7px;


    }

    .loadMoreButtons:hover {
        background: grey;
        color: white;
    }

    .product_card {
        width: 92%;
        /* Ekrana göre genişlik */
        max-width: 400px;
        /* Maksimum genişlik sınırlaması */
        height: 70vh;
        /* Otomatik yükseklik */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        right: 1rem;
        /* Sağdan birim ekleme */
        top: 2rem;
        /* Yukarıdan birim ekleme */
        background-color: #ffffff;
        /* Temiz beyaz arka plan */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        /* Daha belirgin bir gölge */
        border-radius: 16px;
        /* Daha yuvarlak kenarlar */
        padding: 20px;
        z-index: 999;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }

        /* Başlık Stili */
        h3 {
            margin-bottom: 20px;
            font-size: 2.5rem;
            /* Başlığın büyüklüğü */
            color: #343a40;
            /* Daha koyu bir başlık rengi */
            text-align: center;
            font-weight: 600;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            /* Hafif gölge efekti */
        }

        /* Sepet Öğeleri İçin Alan */
        #cartItems {
            flex: 1;
            overflow-y: auto;
            max-height: 60vh;
            /* Maksimum yükseklik belirleme */
            border: 1px solid #e0e0e0;
            /* Daha hafif kenar */
            border-radius: 12px;
            /* Kenar yuvarlama */
            padding: 15px;
            margin-bottom: 20px;
            width: 100%;
            background-color: #f7f7f7;
            /* Sepet arka planı */

            .product_item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 1px solid #e0e0e0;
                /* Kenar rengi */
                border-radius: 8px;
                /* Kenar yuvarlama */
                padding: 10px;
                margin-bottom: 10px;
                background-color: #ffffff;
                /* Öğeler için beyaz arka plan */
                transition: background 0.2s;

                &:hover {
                    background-color: #eeeeee;
                    /* Hover rengi */
                }

                img {
                    width: 100%;
                    /* Resim genişliği ayarlandı */
                    max-width: 60px;
                    /* Maksimum genişlik */
                    height: auto;
                    // margin-right: 10px;
                    border-radius: 10px;
                    object-fit: contain;
                    /* Resimlerin kenar yuvarlanması */
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    margin: 3px 0;

                    button {
                        cursor: pointer;
                        // background: #007bff;
                        background-color: black;
                        border: none;
                        color: white;
                        padding: 4px 10px;
                        /* Düğme padding */
                        border-radius: 6px;
                        transition: background 0.2s;

                        &:hover {
                            background: #0056b3;
                            /* Hover sonrası renk */
                        }
                    }

                    input {
                        width: 4rem;
                        /* Sabit genişlik */
                        text-align: center;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        margin: 0 5px;
                        padding: 5px;
                        /* İç dolgu */
                    }
                }
            }
        }

        /* Toplam Fiyat Alanı */
        .total {
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 1.5rem;
            /* Toplam fiyat boyutu */
            color: #d9534f;
            /* Çarpıcı toplam fiyat rengi */
            width: 100%;
            /* Tam genişlikte */
            text-align: left;
            /* Solda hizalama */
        }

        .card_buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            .share_whatsap_pro {
                background-color: forestgreen;
                color: white;
                margin: 5px 0 0 5px;
            }

            button {
                background: #dc3545;
                /* Kapatma butonu rengi */
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                margin: 5px 5px 0 0;

                transition: background 0.2s, transform 0.1s;

                &:hover {
                    background: #c82333;
                    /* Hover rengi */
                    transform: scale(1.05);
                    /* Hover efekti */
                }
            }

        }

        /* Mobil uyum için medya sorguları */

    }

    .left_menu {
        display: none; // Başlanğıcda görünməz
        transition: all 0.3s ease; // Animasyon
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background-color: white;
        z-index: 1000;
        overflow-y: hidden;
        flex-direction: column;
        animation: slideIn 1s forwards;

        @keyframes slideIn {
            from {
                transform: translateX(-100%);
                /* Başlangıçta solda dışarıda */
                opacity: 0;
            }

            to {
                transform: translateX(0);
                /* Orijinal pozisyonuna gelir */
                opacity: 1;
                /* Görünür olur */
            }
        }

        .menu_links {
            display: flex;
            flex-direction: column; // Vertikal düzülüş
            justify-content: flex-start; // Yuxarıdan başlayaraq düzülüş
            padding: 20px; // Ümumi boşluq

            a {
                border-bottom: 0.4px solid grey;
                text-decoration: none; // Alt xət gedir
                color: black; // Rəng
                font-size: 20px; // Yazı ölçüsü
                margin: 10px 0; // Yuxarı və aşağı boşluq
                // font-style: italic; // İtalik
                font-weight: 400; // Qalın
                transition: color 0.3s ease; // Üzəri rəng çevirməsi

                &:hover {
                    color: rgb(100, 100, 100); // Hover zamanı rəng
                }
            }

            .menu_icons {
                display: none;
                font-size: 30px; // Yazı ölçüsü
                margin: 10px 0; // Yuxarı və aşağı boşluq
                transition: color 0.3s ease; // Üzəri rəng çevirməsi
                animation: slideIns 1s forwards;



                @keyframes slideIns {
                    from {
                        transform: translateY(-100%);
                        /* Başlangıçta solda dışarıda */
                        opacity: 0;
                    }

                    to {
                        transform: translateY(0);
                        /* Orijinal pozisyonuna gelir */
                        opacity: 1;
                        /* Görünür olur */
                    }
                }

                a {
                    display: flex;
                    text-decoration: none;
                    border-bottom: none;

                    i {
                        padding: 0 5px;
                    }

                    i:nth-child(1) {
                        font-size: 25px;
                        color: black;
                    }

                    i:nth-child(2) {
                        font-size: 25px;
                        color: black;
                    }

                    i:nth-child(3) {
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }

        .close_left_menu {
            color: rgb(212, 211, 211); // İkonun rəngi
            background-color: #292627; // İkonun arxa fonu
            font-size: 30px; // İkon ölçüsü
            padding: 10px; // İkon ətrafında boşluq
            cursor: pointer; // Tıklanabilir
            text-align: end; // Sağdan sıralama
            width: 100%; // Tam genişlik
        }

        .creator {
            display: flex;
            flex-direction: column; // Vertikal düzülüş
            width: 100%; // Tam genişlik
            position: absolute;
            bottom: 0;

            span {
                color: rgb(212, 211, 211); // Mətnin rəngi
                background-color: #292627; // Arxa fon
                text-align: center; // Ortada mətni
                padding: 15px; // Mətndə boşluq
            }
        }
    }

    .buttons_filter {
        display: flex;
        /* Butonları yatayda yan yana diz */
        justify-content: center;
        /* Butonları yatayda ortala */
        margin-top: 50px;
        /* Üst kenar boşluğu */

        button {
            background-color: #ede3da;
            /* Hafif gri arka plan */
            color: #575656;
            /* Gri yazı rengi */
            padding: 8px 16px;
            /* İç boşluk */
            text-align: center;
            /* Yazıyı ortala */
            font-size: 16px;
            /* Yazı boyutu */
            margin: 0 10px;
            /* Butonlar arası boşluk */
            cursor: pointer;
            /* Fare gösterimini işaretçi yap */
            transition: background-color 0.3s ease, color 0.3s ease;
            /* Geçişli efekt */
            border: none;
            /* Kenar yok */
            outline: none;
            /* Kenar çerçevesini kaldır */
            border-radius: 4px;
            /* Köşeleri hafif yuvarlat */

            /* Fare ile üzerine gelindiğinde */
            &:hover {
                background-color: rgba(169, 169, 169, 0.5);
                /* Üzerine gelindiğinde daha belirgin gri arka plan */
                color: #424242;
                /* Koyu gri yazı rengi */
            }

            /* Aktif durumda olan buton için stil */
            &.active {
                background-color: rgba(128, 128, 128, 0.7);
                /* Daha koyu bir gri arka plan */
                color: white;
                /* Daha koyu gri yazı rengi */
            }
        }

        a {
            background-color: #ede3da;
            text-decoration: none;
            /* Hafif gri arka plan */
            color: #575656;
            /* Gri yazı rengi */
            padding: 8px 16px;
            /* İç boşluk */
            text-align: center;
            /* Yazıyı ortala */
            font-size: 16px;
            /* Yazı boyutu */
            margin: 0 10px;
            /* Butonlar arası boşluk */
            cursor: pointer;
            /* Fare gösterimini işaretçi yap */
            transition: background-color 0.3s ease, color 0.3s ease;
            /* Geçişli efekt */
            border: none;
            /* Kenar yok */
            outline: none;
            /* Kenar çerçevesini kaldır */
            border-radius: 4px;
            /* Köşeleri hafif yuvarlat */

            /* Fare ile üzerine gelindiğinde */
            &:hover {
                background-color: rgba(169, 169, 169, 0.5);
                /* Üzerine gelindiğinde daha belirgin gri arka plan */
                color: #424242;
                /* Koyu gri yazı rengi */
            }

            /* Aktif durumda olan buton için stil */
            &.active {
                background-color: rgba(128, 128, 128, 0.7);
                /* Daha koyu bir gri arka plan */
                color: white;
                /* Daha koyu gri yazı rengi */
            }
        }
    }

    .wp_mobile {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: forestgreen;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: white;
            font-size: 30px;
        }
    }

    .footer {
        background-color: #292627;
        padding: 20px;
        text-align: center;
        width: 100%;

        .map_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;

            .iframe_container {
                background: #fff;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                // width: calc(100% - 40px);
                max-width: 600px; // Maksimum genişlik
                text-align: left;

                span {
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 10px;
                    background: #343a40; // Koyu arka plan rengi
                    color: white;
                }

                .bazar-image {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                iframe {
                    width: 100%;
                    height: 300px; // Yükseklik ayarlaması
                    border: 0;
                }
            }
        }

        .map_icons {
            display: flex;
            justify-content: center;

            .icon {
                margin: 0 10px;
                // color: #343a40; // İkon rengi
                color: white;
                font-size: 24px; // İkon boyutu
                transition: color 0.3s;

                &:hover {
                    color: #007bff; // Hover rengi
                }
            }
        }
    }

    .gift-container {
        width: 100%;
        //    height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;


        @keyframes giftBox {
            from {
                transform: translateX(-100%);

                to {
                    transform: translateX(0);
                }
            }
        }

        img {
            // flex-shrink: 0; // Resimlerin küçülmesini engeller.
            width: 110%; // Resimlerin maksimum genişliği.
            // height: 100%; // Resimlerin oranını korur.
            scroll-snap-align: center; // Kaydırma sırasında resim merkezlenir.
            border-radius: 8px; // Resimlerin köşelerini yuvarlar.
            // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Resimlere gölge ekler.
            object-fit: contain;
        }
    }

}



@media (max-width: 650px) {
    .container {

        .header {
            display: none;
        }

        .mb_text {
            display: flex;
        }

        .mb_header {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .search {

            .search_box {

                .search_inp {
                    width: 65%;
                }
            }
        }

        .slider_box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 65vh; // Maintain the height you specified
            overflow: hidden; // Prevent overflow if needed
            margin-top: 91px;

            .slider_box_buttons {

                .nese {
                    width: 100%;
                    height: auto;
                    margin-right: 50px;
                    // border: 1px solid red;
                    display: flex;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        margin: 5px 10px;
                        background-color: #ffffff;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        margin-right: 0;
                        font-size: 15px;
                        font-weight: 600;
                        color: black;

                        i {
                            font-weight: bold;
                            line-height: 10px;
                            color: black;
                            padding: 3px 7px;

                        }
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        margin: 5px;
                        background-color: #ffffff;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 600;
                        color: orangered;

                        i {
                            font-weight: bold;
                            line-height: 10px;
                            color: orangered;
                            padding: 3px 7px;

                        }
                    }


                }

            }

            div {
                width: 100%;
                height: 100%;

                .slider_show {
                    width: 100%;
                    height: 100%;
                    object-fit: contain; // This will make sure the image covers the space
                    object-position: center; // Center the image
                }
            }
        }

        .scrolling-text {
            animation: scroll-left 5s linear infinite;
        }

        .message_link {
            display: none;
        }

        .iframe_container {
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            // width: calc(100% - 40px);
            // max-width: 600px; // Maksimum genişlik
            width: 100%;
            text-align: left;
            margin: 5px 0;

        }

        .gift-container {

            .gift {
                gap: 10px;
                width: 100%;
                // padding: 10px;
                justify-content: center; // Resimleri yatay olarak sıralar.

                img {
                    width: 100%;
                    // height: 380px;
                }
            }
        }

        .buttons_filter {
            display: flex;
            justify-content: center;
            width: 100%;
            // border: 1px solid red;

            .buttons_wrapper {
                display: flex;
                justify-content: flex-start;
                /* Change to flex-start for alignment */
                max-width: 100%;
                overflow-x: auto;
                /* Allow horizontal scrolling */
                // border: 1px solid red;
                box-sizing: border-box;

                scrollbar-width: none; // Firefox için
                -ms-overflow-style: none; // Internet Explorer için

                &::-webkit-scrollbar {
                    display: none; // Chrome, Safari ve diğer WebKit tabanlı tarayıcılar için
                }

                /* Ensure padding and borders are included in the width */
            }

            button,
            a {
                min-width: 130px;
                /* Make sure buttons and links are at least 100px wide */
                font-size: 12px;
                padding: 10px 18px;
                text-align: center;
                white-space: nowrap;
                font-weight: bolder;
                background-color: #ede3da;

                /* Hafif gri arka plan */
                color: black;
                /* Prevent wrapping of button text */
            }
        }

        @media (max-width: 420px) {
            .buttons_filter {
                .buttons_wrapper {
                    width: 100%;
                }
            }

            button,
            a {
                flex-shrink: 0;
                /* Prevent buttons from shrinking */

            }
        }

        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            width: 100%;

            .volume-select {
                margin: 0; // Üst ve alt boşluk
                position: relative; // İçerik düzenlemesi için konumlandırma

                select.volume-options {
                    display: flex;
                    padding: 5px; // İç boşluk
                    // border: 1px solid #ddd; // Kenar rengi
                    // border-radius: 4px; // Kenar yuvarlama
                    background-color: #fff; // Arka plan rengi
                    font-size: 15px; // Yazı boyutu
                    color: #292627; // Yazı rengi
                    cursor: pointer; // İmleci işaretçi yap
                    font-weight: 500; // Yazı kalınlığı
                    width: 100%;


                    -webkit-appearance: flex;
                    /* Safari ve Chrome için */
                    -moz-appearance: flex;
                    /* Firefox için */
                    appearance: flex;
                    /* Modern tarayıcılar için */
                    background: transparent;
                    /* Arka planı şeffaf yapın */
                    // border: 1px solid #ccc;
                    /* İsteğe bağlı: Sınırları görünür yapmak için */
                    padding: 10px;
                    /* İsteğe bağlı: İç boşluk ayarlamak için */
                    outline: none;

                    .volume-options::-ms-expand {
                        display: flex;
                        /* Internet Explorer için default açılır menü */
                    }

                    &:focus {
                        outline: none; // Varsayılan odak çerçevesini kaldır
                        border-color: #ecc14d; // Odaklandığında sınır rengi değişimi
                        background-color: #f7f7f7; // Arka plan rengi değişimi
                        border: none;
                    }

                    option {
                        padding: 10px; // Seçenekler için iç boşluk
                        background-color: #292627;
                        color: white; // Yazı rengi
                        border: none; // Kenar yok
                        width: 100%;
                        font-weight: 600;
                    }

                    option:hover {
                        background-color: #f2f2f2; // Seçenek üzerine gelindiğinde arka plan rengi
                    }
                }
            }

            .product {
                // border: 1px solid #ddd; // Ürün kartı için kenar
                border-radius: 8px;
                padding: 5px;
                margin: 2px;
                flex: 1 1 300px; // Minimum genişlik 300px
                max-width: 170px; // Maksimum genişlik
                text-align: center;
                transition: transform 0.3s, box-shadow 0.3s;
                position: relative;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
                }

                .image-container {
                    width: 100%;
                    height: 205px;
                    border-radius: 5px;
                    // background-color: #faefe9;
                    background-color: #f5f4e9;
                    overflow: hidden;
                    position: relative;

                    .discount-badge {
                        position: absolute;
                        top: 10px; // Konumu ayarlamak için
                        left: 10px; // Konumu ayarlamak için
                        background-color: #f76300; // Arka plan rengi
                        color: white;
                        padding: 4px 4px;
                        border-radius: 5px;
                        font-weight: bold;
                        font-size: 14px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain; // Resmin orantılı görünümü
                        transition: transform 0.3s;

                        &:hover {
                            transform: scale(1.05); // Hover durumunda büyüme
                        }
                    }
                }

                .product-details {
                    margin-top: 10px;

                    h2 {
                        font-size: 0.8em;
                        margin: 1px 0;
                        color: #333;
                        text-transform: uppercase;
                        text-align: start;
                        padding-left: 5px;
                    }

                    .rating {
                        display: none;
                        justify-content: center;
                        margin: 10px 0;

                        .star {
                            color: lightgray;

                            &.filled {
                                color: gold;
                            }

                            font-size: 1.5em;
                            margin: 0 2px;
                        }

                        .star:nth-child(1) {
                            color: gold;
                        }

                        .star:nth-child(2) {
                            color: gold;
                        }

                        .star:nth-child(3) {
                            color: gold;
                        }

                        .star:nth-child(4) {
                            color: gold;
                        }
                    }
                }

                .product-footer {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 15px;
                    padding: 10px 0; // Üst ve alt boşluk
                    background-color: white;
                    margin: 3px 0;
                    // border-top: 0.5px solid grey;

                    .price {
                        font-weight: bold;
                        font-size: 1.25em;
                        color: #ecc14d; // Fiyat rengi
                    }

                    a.add-to-cart {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        // background-color: transparent;
                        // color: #edbe63;
                        padding: 10px 10px;
                        border-radius: 0;
                        font-size: 1.5em;
                        transition: background-color 0.3s, color 0.3s;
                        width: 100%;
                        background-color: #333333;

                        &:hover {
                            color: white;
                            background-color: rgba(0, 0, 0, 0.1);
                        }

                        i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}