<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haqqımızda</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            /* overflow: hidden; */
        }

        .full-screen-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Resim kırpılmayı en aza indirir ve tam ekran yapar */
        }
    </style>
</head>

<body>

    <div class="full-screen-image" id="imageContainer">
        <a href="/">
            <img id="responsiveImage" src="" alt="Haqqımızda">

        </a>
    </div>

    <script>
        function loadImage() {
            const responsiveImage = document.getElementById('responsiveImage');
            const width = window.innerWidth;

            // Mobil ve büyük ekranlar için uygun resmi seç
            responsiveImage.src = width <= 768
                ? "/img/HaqqımızdaMB.png"  // Mobil boyutlar
                : "/img/HaqqımızdaPC.png"; // Büyük ekranlar
        }

        // Sayfa yüklendiğinde ve pencere boyutu değiştiğinde resmi yükle
        window.addEventListener('load', loadImage);
        window.addEventListener('resize', loadImage);
    </script>

</body>

</html>